{#
    A query to get the list of top DA consumers that have a name assigned (map to our mapping) and posted over 100MB of data during their lifetime

    Parameters:
    - da_layer: The DA layer to consider for data extraction.
#}

{% if da_layer == "da_ethereum_blobs" %}
    {% set metric_key = "ethereum_blob_size_bytes" %}
{% elif da_layer == "da_celestia" %}
    {% set metric_key = "celestia_blob_size_bytes" %}
{% endif %}

with econ_names as (
    SELECT 
        origin_key,
        max("name") as econ_name
    FROM sys_economics_mapping
    group by 1
)

select 
    fk.origin_key as da_consumer_key,
	eco.econ_name as name,
	c.origin_key as gtp_origin_key,
	sum(value) as data_posted
from fact_kpis fk 
left join econ_names eco using (origin_key)
left join sys_chains c using (origin_key)
where metric_key = '{{ metric_key }}'
group by 1,2,3
having sum(value) > 0.1 * 1024 * 1024 * 1024 --at least 100MB of data posted
order by 4 desc
