.env
.vscode
**/__pycache__
*.pyc
my_env/
myenv312/
local_env/
venv/
.venv/

*.ipynb
*.html
backend/output/
backend/local/
screenshots/

# Airflow stuff
airflow.cfg
airflow/git_version
airflow/logs/
airflow/www/static/coverage/
airflow/www/*.log
/logs/
airflow-webserver.pid
standalone_admin_password.txt
warnings.txt


backend/adapter_starknet_test.py
backend/adapter_gtp_test.py
backend/adapter_celestia_test.py
backend/adapter_rhino_test.py
backend/starknet_backfill.py
backend/94df57da-0ad4-43cd-9558-cf3e41547324.json

.DS_Store
backend/mode_rpc_config.json
backend/growthepie-73a5bd385526.json
backend/redstone_rpc_config.json
backend/growthepie-17b4adf5ad94.json
