.env
**/__pycache__
*.pyc
my_env/

*.ipynb
backend/output/


# Airflow stuff
airflow.cfg
webserver_config.py
airflow.db
airflow/git_version
airflow/logs/
airflow/www/static/coverage/
airflow/www/*.log
/logs/
airflow-webserver.pid
standalone_admin_password.txt
warnings.txt