aiohttp==3.8.4
aioitertools==0.11.0
aiosignal==1.3.1
airtable==0.4.8
alembic==1.10.2
annotated-types==0.7.0
anyio==3.6.2
apache-airflow==2.5.3
apache-airflow-providers-common-sql==1.3.4
apache-airflow-providers-ftp==3.3.1
apache-airflow-providers-http==4.2.0
apache-airflow-providers-imap==3.1.1
apache-airflow-providers-sqlite==3.3.1
apispec==3.3.2
appnope==0.1.4
argcomplete==3.0.5
asgiref==3.6.0
asttokens==3.0.0
async-timeout==4.0.2
attrs==22.2.0
Babel==2.12.1
bitarray==2.7.4
blinker==1.5
boto3==1.26.118
botocore==1.29.118
cachelib==0.9.0
cachetools==5.3.3
cattrs==22.2.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
ckzg==2.1.1
click==8.1.3
clickclick==20.10.2
cloudscraper==1.2.71
colorama==0.4.6
colorlog==4.8.0
comm==0.2.2
ConfigUpdater==3.1.1
connectorx==0.3.3
connexion==2.14.2
contourpy==1.3.1
cron_descriptor==1.2.35
croniter==1.3.8
cryptography==39.0.2
cycler==0.12.1
cytoolz==0.12.1
dataclasses-json==0.6.7
db-dtypes==1.2.0
debugpy==1.8.9
decorator==5.1.1
Deprecated==1.2.13
dill==0.3.1.1
distro==1.9.0
dnspython==2.3.0
docutils==0.19
duckdb==1.1.3
dune-client==1.2.1
email-validator==1.3.1
eth-account==0.13.6
eth-hash==0.5.1
eth-keyfile==0.8.1
eth-keys==0.7.0
eth-rlp==2.2.0
eth-typing==5.2.0
eth-utils==5.2.0
eth_abi==5.2.0
exceptiongroup==1.1.1
executing==2.1.0
fastjsonschema==2.21.1
Flask==2.2.3
Flask-AppBuilder==4.1.4
Flask-Babel==2.0.0
Flask-Caching==2.0.2
Flask-JWT-Extended==4.4.4
Flask-Login==0.6.2
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.1.1
fonttools==4.55.1
frozenlist==1.3.3
fsspec==2023.4.0
gcsfs==2025.3.2
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.19.0
google-api-python-client==2.132.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-cloud-bigquery==3.25.0
google-cloud-bigquery-storage==2.25.0
google-cloud-core==2.4.1
google-cloud-storage==3.1.0
google-crc32c==1.5.0
google-resumable-media==2.7.1
googleapis-common-protos==1.63.1
graphql-core==3.2.4
graphviz==0.20.1
greenlet==2.0.2
grpcio==1.64.1
grpcio-status==1.62.2
gunicorn==20.1.0
h11==0.14.0
h2==4.1.0
hexbytes==1.3.0
hpack==4.0.0
httpcore==0.16.3
httplib2==0.22.0
httpx==0.23.3
hyperframe==6.0.1
hyperfuel==1.1.1
hypersync==0.8.3
idna==3.4
importlib-metadata==7.0.1
importlib-resources==6.1.1
inflection==0.5.1
ipykernel==6.29.5
ipython==8.30.0
itsdangerous==2.1.2
jedi==0.19.2
Jinja2==3.1.2
jiter==0.5.0
jmespath==1.0.1
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.17.3
jupyter_client==8.6.3
jupyter_core==5.7.2
kiwisolver==1.4.7
langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.34
langchain-openai==0.1.22
langchain-text-splitters==0.2.2
langsmith==0.1.101
lazy-object-proxy==1.9.0
linkify-it-py==2.0.0
lockfile==0.12.2
lru-dict==1.2.0
lxml==5.2.1
Mako==1.2.4
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
matplotlib==3.9.3
matplotlib-inline==0.1.7
mdit-py-plugins==0.3.5
mdurl==0.1.2
multidict==6.0.4
mypy-extensions==1.0.0
nbformat==5.10.4
ndjson==0.3.1
nest-asyncio==1.6.0
nextcord==2.6.0
numpy==1.24.2
oauthlib==3.2.2
openai==1.42.0
orjson==3.10.7
outcome==1.3.0.post0
packaging==24.1
pandas==2.0.0
pangres==4.1.4
parsimonious==0.10.0
parso==0.8.4
pathspec==0.9.0
pendulum==2.1.2
pexpect==4.9.0
pillow==10.2.0
pkgutil_resolve_name==1.3.10
platformdirs==4.3.6
plotly==5.24.1
pluggy==1.0.0
polars==1.1.0
prison==0.2.1
prompt_toolkit==3.0.48
proto-plus==1.23.0
protobuf==4.23.2
psutil==5.9.4
psycopg2-binary==2.9.6
ptyprocess==0.7.0
pure_eval==0.2.3
pyairtable==2.3.0.post1
pyarrow==11.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.21
pycryptodome==3.18.0
pydantic==2.11.3
pydantic_core==2.33.1
PyGithub==2.3.0
Pygments==2.14.0
PyJWT==2.6.0
PyNaCl==1.5.0
pyparsing==3.0.9
pyrsistent==0.19.3
PySocks==1.7.1
python-daemon==3.0.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-nvd3==0.15.0
python-slugify==8.0.1
pytz==2023.3
pytzdata==2020.1
pyunormalize==16.0.0
PyYAML==6.0
pyzmq==26.2.0
regex==2023.6.3
requests==2.28.2
requests-oauthlib==2.0.0
requests-toolbelt==0.10.1
rfc3339-validator==0.1.4
rfc3986==1.5.0
rich==13.3.3
rlp==4.1.0
rsa==4.9
s3fs==0.4.2
s3transfer==0.6.0
selenium==4.18.1
setproctitle==1.3.2
sgqlc==16.4
simplejson==3.19.1
six==1.16.0
smmap==5.0.2
sniffio==1.3.0
sortedcontainers==2.4.0
SQLAlchemy==1.4.47
SQLAlchemy-JSONField==1.0.1.post0
SQLAlchemy-Utils==0.40.0
sqlparse==0.4.3
stack-data==0.6.3
StrEnum==0.4.15
supervisor==4.2.5
tabulate==0.9.0
tenacity==8.2.2
termcolor==2.2.0
text-unidecode==1.3
tiktoken==0.7.0
toolz==0.12.0
tornado==6.4.2
tqdm==4.66.5
traitlets==5.14.3
trio==0.24.0
trio-websocket==0.11.1
types-python-dateutil==2.8.19.13
types-PyYAML==6.0.12.10
types-requests==2.31.0.1
types-urllib3==1.26.25.13
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2023.3
uc-micro-py==1.0.1
unicodecsv==0.14.1
uritemplate==4.1.1
urllib3==1.26.15
wcwidth==0.2.13
web3==7.10.0
websockets==11.0.3
Werkzeug==2.2.3
wrapt==1.15.0
wsproto==1.2.0
WTForms==3.0.1
yarl==1.8.2
zipp==3.17.0
