{#
    A query to sum the sizes of blobs (in bytes) associated with Celestia transactions that pay for blobs,
    filtered by namespaces that match those defined for 'derive'.

    Parameters:
    - origin_key: The key of the chain to filter the data by.
    - days: default = 7; The time interval (in days) to consider for the data extraction.
#}

{% set days = days | default(7) %}

SELECT 
	"date" AS day,
	SUM(value) AS value -- in bytes
FROM public.fact_da_consumers a
JOIN (
    SELECT json_array_elements_text(da_mapping->'celestia') AS namespace
    FROM sys_chains
    WHERE origin_key = '{{ origin_key }}'
) b ON a.da_consumer_id = b.namespace
WHERE 
    "date" >= current_date - interval '{{ days }} days' 
    AND "date" < current_date
    AND metric_key = 'blob_size_bytes'
GROUP BY 1
ORDER BY 1 DESC;