{#
    A query to find the average gas used per second over the last 'days' days.

    Parameters:
    - origin_key: The name of the chain to identify the table.
    - days: default = 7; The time interval (in days) to consider for the data extraction.
#}

{% set days = days | default(7) %}

SELECT
    date_trunc('day', block_timestamp) AS day,
    SUM(gas_used) / (24 * 60 * 60) AS value
FROM {{ origin_key }}_tx
WHERE block_timestamp >= current_date - interval '{{ days }} days' 
    AND block_timestamp < current_date
GROUP BY 1;