{#
    A query to compute the value (in ETH) of fees paid for Celestia blobs associated with the {{ origin_key }} chain 
    over the last {{ days }} days. The query uses hourly Celestia ETH prices to convert fees into ETH terms.

    Parameters:
    - origin_key: The key of the chain to filter the data by.
    - days: default = 7; The time interval (in days) to consider for the data extraction.
#}

{% set days = days | default(7) %}

SELECT 
	"date" AS day,
	SUM(value) AS value -- in eth
FROM public.fact_da_consumers a
LEFT JOIN sys_economics_mapping map ON lower(a."namespace") = lower(map."namespace")
WHERE 
    "date" >= current_date - interval '{{ days }} days' 
    AND "date" < current_date
    AND metric_key = 'blob_fee_eth'
    and map.gtp_origin_key = '{{ origin_key }}'
GROUP BY 1
ORDER BY 1 DESC;