{#
    This query calculates + upserts the unique active addresses on multiple L2s that weren't active on Ethereum in a given week.
    
    metric_key: cca_weekly_multiple_l2s

    Parameters:
    - days: default = 8; The time interval (in days) over which to consider active addresses.
#}

{% set days = days | default(8) %}

INSERT INTO fact_kpis (date, origin_key, metric_key, value)

    WITH chain_info AS (
        SELECT 
            DATE_TRUNC('week', date) AS day,
            address,
            count(distinct origin_key) as counter,
            array_agg(distinct origin_key) as ok_array
        FROM fact_active_addresses
        WHERE
            date < DATE_TRUNC('week', NOW())
            AND date >= DATE_TRUNC('week', NOW() - INTERVAL '{{ days }} days')
            AND origin_key <> 'starknet'
        GROUP BY 1, 2
    )

    SELECT
        day as date,
        'all' as origin_key,
        'cca_weekly_multiple_l2s' AS metric_key,
        COUNT(*) AS value
    FROM chain_info
    WHERE counter > 1 AND NOT ('ethereum' = ANY(ok_array))
    GROUP BY 1

ON CONFLICT (date, origin_key, metric_key)  
DO UPDATE SET 
    value = EXCLUDED.value;