{#
    A query to find the total "rent" (in ETH) paid on Starknet over the last 'days' days.
    This aggregates metrics related to L1 data availability, L1 settlement, and Ethereum blobs.

    metric_key = 'rent_paid_eth'

    Parameters:
    - days: default = 7; The time interval (in days) to consider for the data extraction.
#}

{% set days = days | default(7) %}

SELECT 
    date AS day,
    SUM(value) AS value
FROM public.fact_kpis
WHERE 
    origin_key = 'starknet' 
    AND metric_key IN ('l1_data_availability_eth', 'l1_settlement_custom_eth', 'ethereum_blobs_eth')
    AND "date" BETWEEN date_trunc('day', now()) - INTERVAL '{{ days }} days' 
                   AND date_trunc('day', now())
    AND "date" > '2024-02-25'
GROUP BY 1;