{#
    A query to count the number of blobs posted on Celestia over the last 'days' days.

    metric: da_blob_count

    Parameters:
    - days: default = 7; The time interval (in days) to consider for data extraction.
#}

{% set days = days | default(7) %}

SELECT 
	"date" AS day,
	SUM(value) AS value -- number blobs
FROM public.fact_da_consumers
WHERE 
    "date" >= current_date - interval '{{ days }} days' 
    AND "date" < current_date
    AND metric_key = 'blob_count'
    AND da_layer = 'da_celestia'
GROUP BY 1
ORDER BY 1 DESC;