{#
    A query to count the number of unique blob producers (identified by namespaces) on Celestia 
    over the last 'days' days.

    metric: da_unique_blob_producers

    Parameters:
    - days: default = 7; The time interval (in days) to consider for the data extraction.
#}

{% set days = days | default(7) %}

SELECT 
    date_trunc('day', block_timestamp) AS day, 
    COUNT(DISTINCT namespaces) AS value
FROM (
    SELECT 
        block_timestamp, 
        jsonb_array_elements(namespaces::jsonb)::text AS namespaces
    FROM celestia_tx
    WHERE block_timestamp >= current_date - interval '{{ days }} days' 
        AND block_timestamp < current_date
) a
GROUP BY 1;