{#
    A query to calculate the total Celestia DA fees (in ETH equivalent) over the last 'days' days.
    It uses the hourly Celestia price in ETH from `fact_kpis_granular` to convert fees into ETH.

    metric: da_fees_eth

    Parameters:
    - days: default = 7; The time interval (in days) to consider for the data extraction.
#}

{% set days = days | default(7) %}

SELECT 
	"date" AS day,
	SUM(value) AS value -- in eth
FROM public.fact_da_consumers
WHERE 
    "date" >= current_date - interval '{{ days }} days' 
    AND "date" < current_date
    AND metric_key = 'blob_fee_eth'
    AND da_layer = 'da_celestia'
GROUP BY 1
ORDER BY 1 DESC;