{#
    A query to sum all Celestia data posted bytes (blob sizes) over the last 'days' days.

    metric: da_data_posted_bytes

    Parameters:
    - days: default = 7; The time interval (in days) to consider for data extraction.
#}

{% set days = days | default(7) %}

SELECT 
	"date" AS day,
	SUM(value) AS value -- in bytes
FROM public.fact_da_consumers
WHERE 
    "date" >= current_date - interval '{{ days }} days' 
    AND "date" < current_date
    AND metric_key = 'blob_size_bytes'
GROUP BY 1
ORDER BY 1 DESC;